html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */
a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}

/* Header y Navegacion */
.site-name {
  font-size: 30px;
  color: rgb(0 0 0);
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.site-name span {
  color: #9c9fa9;
}

.container-nav {
  border-top: 1px solid #e1e1e1;
}

.main-nav{
  /* border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px; */ 

  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

/* .main-nav-item {
  width: 50px;
  height: 50px;
  background-color: #037bc0;
} */
/* .main-nav{
  padding: 25px 0;
  display: grid;  
  grid-template-columns: repeat(6,1fr);
  align-items: center;  
  
} */

.main-nav a:hover {
background-color: #004C76;
border-bottom-right-radius: 20px;
max-width: 100%;
width: 12rem;
height: 3rem;
text-align: center;
max-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color: #e1e1e1;
}

.main-nav-item {
  max-width: 100%;
  width: 12rem;
  height: 3rem;
  text-align: center;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center

/* max-width: 100%;
max-height: 100vh;
height: 3rem; */

}

.about {
  width: 300px;
  padding: 25px;
  background-color: darkblue;
}

.hero {
  background-image: url(../img/principal.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.list-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.categories h2 {
  text-align: center;
}

.category a {
  text-align: center;
  display: block;
  padding: 25px;
  font-size: 25px;
}

.category a:hover {
  background-color: #037bc0;
  color: #fff;
  font-style: oblique;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}